body {
    margin: 0;
    font-family: 'Montserrat', sans-serif;
}

.carnaval {
    font-family: 'Maven Pro', sans-serif;
}

#banner{
    height: 100vh;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banlogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banlogo img {
    width: 400px;
}

#banarrow{
    height: fit-content;
    font-size: 2em;
    margin-bottom: 10px;
}

#banarrow a {
    color: #FFFFFC;
}

#wip {
    height: fit-content;
    background-color: #FFFFFC;
    padding: 100px 50px;
    text-align: center;
}

#wip img {
    height: 100px;
    margin-bottom: 50px;
}

#wip p {
    color: #7C7C7C;
}

#socialnetwork {
    height: fit-content;
    background-color: #EEE5E9; 
    padding: 60px 20px;
    text-align: center;
}

#socialnetwork img {
    width: 50px;
    margin: 40px 20px 0 20px;
}

#generationheroes {
    height: fit-content;
    background-color: #1D2D44;
    padding: 60px 20px;
    color: #FFFFFC;
    text-align: center;
}

#gh1cover {
    width: 250px;
}

#ghtitle {
    font-size: 1.5em;
    margin-bottom: 10px;
}

#ghdetails {
    font-size: 0.8em;
}

#price {
    font-family: 'Maven Pro', sans-serif;
    color: gold;
    font-size: 1.3em;
    margin-bottom: 0;
}

#shipping {
    margin-top: 0;
    font-size: 0.7em;
    color: #7C7C7C;
}

.preview {
    width: 150px;
    margin: 0 5px;
}

#footer {
    height: fit-content;
    background-color: #FFFFFC;
    padding: 10px 20px;
    text-align: center;

}

#footer p {
    margin: 0;
    color: #EEE5E9;
}

#websebs {
    font-size: 0.8em
}

#flaticons {
    font-size: 0.7em
}

#footer a {
    color: #7C7C7C;
    text-decoration: none;
}