body {
    margin: 0;
}

#banner{
    height: 100vh;
    background-color: black;
    text-align: center;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}

#banlogo {
    height: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
}

#banlogo img {
    width: 300px;
}

#banarrow{
    height: fit-content;
    font-size: 2em;
    margin-bottom: 10px;
}

#banarrow a {
    color: white;
}

#wip {
    height: fit-content;
    background-color: white;
    padding: 30px;
}

#socialnetwork {
    height: fit-content;
    background-color: chartreuse; 
    padding: 20px;
}

#generationheroes {
    height: fit-content;
    background-color: crimson;
    padding: 20px;
}

#footer {
    height: fit-content;
    background-color: darkorange;
    padding: 10px;
}