@use 'sass:color'
@import 'reset'
@import url('https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300;400;700&display=swap')

//font-family 
$ff-brand: 'Francois One', sans-serif
$ff-default: 'Lato', sans-serif

// colors
$white: #fff
$dark: #00080A
.gray
    opacity: 0.5
$blue: #00AAC4
$dark-blue: #006078
$orange: #C45700

// font-weight
$fw-light: 300
$fw-regular: 400
$fw-semi-bold: 600
$fw-bold: 700

// font-size
$fs-large: 2.25rem//36px h1
$fs-medium: 1.5rem//24px h2, prices
$fs-default: 1.125rem //18px
$fs-small: 1rem//16px

//line-height
$lh-large: 3.25rem//52px
$lh-medium: 2.25rem//36px
$lh-default: 1.5rem//24px
$lh-small: 1.25rem//20px

body
    background-color: $white
    font-family: $ff-default
    color: $dark
    font-size: $fs-default
    line-height: $lh-default
    font-weight: $fw-regular

h1
    font-family: $ff-brand
    font-size: $fs-large
    line-height: $lh-large
    font-weight: $fw-regular

h2
    font-family: $ff-brand
    font-size: $fs-medium
    line-height: $lh-medium
    font-weight: $fw-regular

strong
    font-weight: $fw-bold

a
    color: $blue
    text-decoration: underline
    &:hover
        color: $white
        text-decoration: none
    &:active
        color: $blue
        text-decoration: none

i //icons fontawesome
    color: $white
    font-size: 48px
    &:hover
         opacity: 0.66
    &:active
        color: $dark
        opacity: 1

button
    background-color: $blue
    color: $white
    font-family: $ff-brand
    font-size: $fs-default
    line-height: $lh-default
    font-weight: $fw-regular
    border: none
    border-radius: 8px
    padding: 8px 16px
    &:hover
        background-color: darken($blue, 2.4%)
        box-shadow: 0px 4px 16px rgba(0, 168, 194, 0.25)
    &:active
        background-color: $dark-blue
        box-shadow: none

.dark-bg
    background-color: $dark
    color: $white

.container
    max-width: 1024px
    margin-left: auto
    margin-right: auto

.padding-v-64
    padding: 64px 0

header
    background-color: $blue
    .container
        display: flex
        justify-content: space-between
        align-items: center

.social
    display: flex
    gap: 24px

#slider
    background-color: $dark-blue
    // background: linear-gradient(79.19deg, #00080A 0%, rgba(0, 8, 10, 0) 86.22%)
    // mix-blend-mode: multiply
    color: $white
    font-size: $fs-medium
    line-height: $lh-medium
    font-weight: $fw-semi-bold

#intro
    h1
        margin-bottom: 16px
    p
        opacity: 0.66

main
    .container
        padding: 128px 0
        display: flex
        flex-direction: column
        gap: 128px


.row
    display: flex
    justify-content: space-between

section
    width: 300px
    display: flex
    flex-direction: column
    justify-content: space-between
    img
        width: 300px
        height: 424px

.book
    display: flex
    flex-direction: column
    gap: 16px
    .alt-cover:last-of-type
        display: none


.book-info p
    font-size: $fs-small
    line-height: $lh-small
    font-weight: $fw-regular
    &:last-of-type
        font-weight: $fw-light

.book-action
    padding-top: 32px
    display: flex
    justify-content: space-between

.price
    font-size: $fs-medium
    line-height: $lh-medium

.available
    font-weight: $fw-bold
    color: $blue

.unavailable
    line-height: $lh-medium
    font-weight: $fw-regular
    color: $orange

footer
    font-size: $fs-small
    line-height: $lh-small
    font-weight: $fw-light
    .container
        display: flex
        justify-content: center
        gap: 145px
        height: 135px
    img
        mix-blend-mode: luminosity
        opacity: 0.33
    
small
    max-width: 412px
    h2
        margin-bottom: 8px
    p:last-of-type
        margin-top: 16px