/* http://meyerweb.com/eric/tools/css/reset/ 
 * v2.0 | 20110126
 * License: none (public domain)
 * Changed from CSS to SASS */
@import url("https://fonts.googleapis.com/css2?family=Francois+One&family=Lato:wght@300;400;700&display=swap");
html, body, div, span, applet, object, iframe, h1, h2, h3, h4, h5, h6, p, blockquote, pre, a, abbr, acronym, address, big, cite, code, del, dfn, em, img, ins, kbd, q, s, samp, small, strike, strong, sub, sup, tt, var, b, u, i, center, dl, dt, dd, ol, ul, li, fieldset, form, label, legend, table, caption, tbody, tfoot, thead, tr, th, td, article, aside, canvas, details, embed, figure, figcaption, footer, header, hgroup, menu, nav, output, ruby, section, summary, time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure, footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after, q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

hr {
  border-width: 0;
}

.gray {
  opacity: 0.5;
}

body {
  background-color: #fff;
  font-family: "Lato", sans-serif;
  color: #00080A;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
}

h1 {
  font-family: "Francois One", sans-serif;
  font-size: 2.25rem;
  line-height: 3.25rem;
  font-weight: 400;
}

h2 {
  font-family: "Francois One", sans-serif;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 400;
}

strong {
  font-weight: 700;
}

a {
  color: #00AAC4;
  text-decoration: underline;
}
a:hover {
  color: #fff;
  text-decoration: none;
}
a:active {
  color: #00AAC4;
  text-decoration: none;
}

i {
  color: #fff;
  font-size: 48px;
}
i:hover {
  opacity: 0.66;
}
i:active {
  color: #00080A;
  opacity: 1;
}

button {
  cursor: pointer;
  background-color: #00AAC4;
  color: #fff;
  font-family: "Francois One", sans-serif;
  font-size: 1.125rem;
  line-height: 1.5rem;
  font-weight: 400;
  border: none;
  border-radius: 8px;
  padding: 8px 16px;
  display: flex;
  gap: 8px;
}
button:hover {
  background-color: #009fb8;
  box-shadow: 0px 4px 16px rgba(0, 168, 194, 0.25);
}
button:active {
  background-color: #006078;
  box-shadow: none;
}

.button-icon {
  width: 24px;
  height: 24px;
}

.dark-bg {
  background-color: #00080A;
  color: #fff;
}

.container {
  max-width: 1024px;
  margin-left: auto;
  margin-right: auto;
}
@media (max-width: 1152px) {
  .container {
    padding-left: 64px;
    padding-right: 64px;
  }
}

.padding-v-64 {
  padding-top: 64px;
  padding-bottom: 64px;
}

header {
  background-color: #00AAC4;
}
header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
@media (max-width: 844px) {
  header .container {
    flex-direction: column;
    padding: 16px;
    row-gap: 8px;
  }
}

.social {
  display: flex;
  gap: 24px;
}
@media (max-width: 844px) {
  .social {
    gap: 72px;
  }
}

#slider {
  height: 576px;
  background-size: cover;
  background-color: #006078;
  color: #fff;
  font-size: 1.5rem;
  line-height: 2.25rem;
  font-weight: 600;
  transition: all 1s ease-in-out;
}

#gradient {
  height: inherit;
  transition: opacity 1s ease-in-out;
}
#gradient .container {
  height: 432px;
  padding-top: 72px;
  padding-bottom: 72px;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: flex-end;
  transition: opacity 0.5s ease-in-out;
}
#gradient .container p {
  display: flex;
  align-items: center;
  gap: 16px;
  margin: 8px 0 32px;
}
#gradient .container:last-of-type {
  color: #00080A;
}
#gradient .container:last-of-type p {
  margin-bottom: 72px;
}

.dark-gradient {
  background-image: linear-gradient(79.19deg, #00080A 0%, rgba(0, 8, 10, 0) 86.22%);
}

.white-gradient {
  background-image: linear-gradient(79.19deg, #FFFFFF 0%, rgba(255, 255, 255, 0) 86.22%);
}

#intro h1 {
  margin-bottom: 16px;
}
#intro p {
  opacity: 0.66;
}

main .container {
  padding-top: 128px;
  padding-bottom: 128px;
  display: flex;
  gap: 128px 62px;
  flex-wrap: wrap;
}
@media (max-width: 1152px) {
  main .container {
    justify-content: center;
  }
}

section {
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
section img {
  width: 300px;
  height: 424px;
}

.book {
  display: flex;
  flex-direction: column;
  gap: 16px;
}
.book .alt-cover:last-of-type {
  display: none;
}

.book-info p {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 400;
}
.book-info p:last-of-type {
  font-weight: 300;
}

.book-action {
  padding-top: 32px;
  display: flex;
  justify-content: space-between;
}

.price {
  font-size: 1.5rem;
  line-height: 2.25rem;
}

.available {
  font-weight: 700;
  color: #00AAC4;
}

.unavailable {
  line-height: 2.25rem;
  font-weight: 400;
  color: #C45700;
}

footer {
  font-size: 1rem;
  line-height: 1.25rem;
  font-weight: 300;
}
footer .container {
  display: flex;
  justify-content: center;
  gap: 145px;
  height: 135px;
}
@media (max-width: 844px) {
  footer .container {
    gap: 64px;
  }
}
footer img {
  mix-blend-mode: luminosity;
  opacity: 0.33;
}

small {
  max-width: 412px;
}
small h2 {
  margin-bottom: 8px;
}
small p:last-of-type {
  margin-top: 16px;
}

/*# sourceMappingURL=style.css.map */
